@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: lightblue;
  font-family: 'Grandstander', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.container .left-side {
  position: relative;
  background: #4c4dad;
  padding: 20px;
}

.container .left-side .profilText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container .left-side .profilText p {
  color: #fff;
}

.container .left-side .profilText h2 {
  color: #fff;
  font-size: 1.8em;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.container .left-side .profilText h2 span {
  font-size: 0.6em;
  font-weight: 300;
}

.container .left-side .profilText .imgBx {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 31% 69% 32% 68% / 72% 22% 78% 28%;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.container .left-side .profilText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .left-side .contactInfo {
  padding-top: 20px;
}

.container .left-side .contactInfo .title {
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.container .left-side .contactInfo p {
  color: #fff;
  line-height: 1.2em;
  font-weight: 300;
}

.container .left-side .contactInfo ul {
  position: relative;
}

.container .left-side .contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.container .left-side .contactInfo ul li a {
  color: #fff;
}

.container .left-side .contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.container .left-side .contactInfo ul li span {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.container .left-side .education ul li {
  margin: 5px 0;
}

.container .left-side .education ul li h5 {
  color: #03a9f4;
  font-weight: 500;
}

.container .left-side .education ul li h4:nth-child(2) {
  color: #fff;
  font-weight: 600;
}

.container .left-side .education ul li h4 {
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}

.container .left-side .language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #180353;
  display: block;
  margin-top: 20px;
}

.container .left-side .language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.container .right-side {
  position: relative;
  background: white;
  padding: 40px;
}

.container .right-side .about {
  margin-bottom: 15px;
}

.container .right-side .about .title2 {
  color: #180353;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border-bottom: 2px solid #180353;
}

.container .right-side .about ul li {
  margin: 5px 15px;
}

.container .right-side .about ul li h5 {
  color: #03a9f4;
  font-weight: 500;
  margin-top: 5px;
}

.container .right-side .about ul li h4:nth-child(2) {
  font-weight: 600;
}

.container .right-side .about ul li h4 {
  font-weight: 300;
}

.container .right-side .about ul li ul li {
  list-style: square;
  font-size: 14px;
  margin: 10px 0px;
}

.container .right-side .about .strBx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container .right-side .about .strBx h3 {
  color: #180353;
  margin-bottom: 10px;
}

.container .right-side .about .strBx li {
  margin-left: 15px;
  padding: 2px;
}

.container .right-side .about p {
  color: #4c4dad;
}

.container .right-side .about h5 {
  color: #000;
  font-size: 14px;
}

.container .right-side .interest ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.container .right-side .interest ul li {
  font-weight: 500;
  font-size: 14px;
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */